# Secrets
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/
.vite/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.README.md

#README/
README/
*.README1.md

# Databases
*.sqlite
*.sqlite3

# Large datasets
datasets/
*.csv
*.zip
*.tif
*.tiff
*.h5
*.hdf5
*.nc